<h1 class="header">Inventory</h1>
<div id="search-field">
  <%= form_tag inventories_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag type: 'submit', class: "search-btn" do %>
      <i class="fas fa-search fa-2x" style="color:red;" id="search-img"></i>
    <% end %>
  <% end %>
</div>
<p><em>search by item name</p>
<br>

<div>
  <%= button_to 'Add Item', new_inventory_path, method: "get", class: 'action-btn' %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Expiration</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.item %></td>
        <td><%= inventory.category %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.expiration %></td>
        <td>
          <%= link_to inventory do %>
            <i class="fas fa-eye" style="color:red;"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_inventory_path(inventory) do %>
            <i class="fas fa-pen" style="color:red;"></i>
          <% end %>
        </td>
        <td>
          <%= link_to inventory, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash" style="color:red;"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
