<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @inventory.item %>
</p>

<p>
  <strong>Category:</strong>
  <%= @inventory.category %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @inventory.expiration %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
